{% extends 'base.html' %}
{% block title %}Задачи{% endblock %}
{% block content %}
    <h2>Список задач</h2>
    <table>
        <thead>
            <tr>
                <th>Задача</th>
                <th>Готовность</th>
                <th colspan="2">Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{% if task.status == 'done' %}<s>{% endif %}{{ task.name }}{% if task.status == 'done' %}</s>{% endif %}</td>
                    <td>{% if task.status == 'new' %}Новая{% elif task.status == 'in_progress' %}В процессе{% elif task.status == 'done' %}Выполнено{% endif %}</td>
                    <td><a href="{% url 'task_update' task.pk %}">Редактировать</a></td>
                    <td><a href="{% url 'task_done' task.pk %}">Выполнить</a></td>
                    <td><a href="{% url 'task_delete' task.pk %}">Удалить</a></td>
                </tr>
            {% endfor %}
            <tr>
                <td><a href="{% url 'task_delete_all' %}">Удалить все задачи</a></td>
            </tr>
        </tbody>
    </table>
    <h2>Добавить новую задачу</h2>
    <form action="{% url 'task_create' %}" method="post">
        {% csrf_token %}
        <input type="text" placeholder="Надо сделать:" name="task_name">
        <input type="submit" value="Добавить">
    </form>
{% endblock %}