{% extends 'base.html' %}
{% block title %}Удалить все задачи{% endblock %}
{% block content %}
    <h2>Вы уверены, что хотите удалить все задачи?</h2>
    <form action="{% url 'task_delete_all'%}" method="post">
        {% csrf_token %}
        <input type="radio" value="yes" name="delete"> Да<br>
        <input type="radio" value="no" checked name="delete"> Нет<br>
        <input type="submit" value="Подтвердить">
    </form>
{% endblock %}
