{% extends 'base.html' %}
{% block title %}Изменить задачу{% endblock %}
{% block content %}
    <h2>Изменить задачу</h2>
    <form action="{% url 'task_update' task.pk %}" method="post">
        {% csrf_token %}
        <p><input type="text" name="name" value="{{ task.name }}"></p>
        <p><input type="text" name="description" value="{{ task.description }}"></p>
        <p>
            <select name="status" id="status">
                <option value="new" {% if task.status == 'new' %}selected{% endif %}>Новая</option>
                <option value="in_progress" {% if task.status == 'in_progress' %}selected{% endif %}> В процессе</option>
                <option value="done" {% if task.status == 'done' %}selected{% endif %}>Выполнена</option>
            </select>
        </p>
        <p><input type="submit" value="Подтвердить"></p>
    </form>
{% endblock %}
